Graceful.exe
PatchDolStrings.exe
TalesCompresser
DolPatch.dll
ElfPatch.dll
System.Data.SQLite.dll
riivolution
Graces
FontDisplay.exe
ffinfo.bin
Resources/FResources
Resources/*.acf
Resources/*.bin
Resources/*.DLL
Resources/*.dol*
Resources/*.elf
Resources/*.sel
Resources/*.tex*
Resources/*.xml
GraceNote/*.pyc
GraceTools/*.pyc
used_symbols.txt
Projects/*
stdout.log
stderr.log
_create-build*
_build-*
