Databases
Graceful.exe
PatchDolStrings.exe
TalesCompresser
DolPatch.dll
ElfPatch.dll
System.Data.SQLite.dll
riivolution
Graces
Clips
config.xml
config_graces_byfolder.xml
config_graces_bytype.xml
config_temp.xml
config_test.xml
FontTex
FontDisplay.exe
ffinfo.bin
Resources/FResources
Resources/*.acf
Resources/*.bin
Resources/*.DLL
Resources/*.dol*
Resources/*.elf
Resources/*.sel
Resources/*.tex*
Resources/*.xml
config_xillia.xml
config_luxpain.xml
DanganRonpaBestOfDB
DanganRonpaBestOfRebuild
config_danganronpa.xml
config_danganronpa-bestof.xml
Sprites
Voices
GraceNote/*.pyc
GraceTools/*.pyc
SDR2db
SDR2rebuild
config_sdr2.xml
used_symbols.txt
